/* /Components/BuildStageOverview.razor.rz.scp.css */
.build-stage-overview[b-rchx181jvv] {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    height: 40px;
}

.add-build-stage[b-rchx181jvv] {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    background-color: var(--category-active-bg-color);
    border-radius: 9999px;
    height: 48px;
    width: 48px;
    color: white;
    font-size: 1em;
}

    .add-build-stage:hover[b-rchx181jvv] {
        color: black;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

.wizard[b-rchx181jvv] {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.wizard__step[b-rchx181jvv] {
    flex: 1;
}

.wizard__dot[b-rchx181jvv] {
    align-items: center;
    display: flex;
    justify-content: center;
}

.wizard__connector[b-rchx181jvv] {
    flex: 1;
    height: 1px;
    background-color: var(--instruction-color);
}

/*.wizard__step:first-child .wizard__connector, .wizard__step:last-child .wizard__connector {
    background-color: transparent;
}*/

.wizard__number[b-rchx181jvv] {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--category-active-bg-color);
    border-radius: 9999px;
    height: 32px;
    width: 32px;
    margin-right: 4px;
    margin-left: 4px;
}

    .wizard__number:hover[b-rchx181jvv] {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

.wizard__step-title[b-rchx181jvv] {
    text-align: center;
}
/* /Components/ComponentList.razor.rz.scp.css */
/* Accordion styles */
input:checked + .accordion__item-label[b-au457x0te8] {
    color: var(--category-active-color);
}

    input:checked + .accordion__item-label[b-au457x0te8]::after {
        transform: rotate(90deg);
    }

input:checked ~ .accordion__item-content[b-au457x0te8] {
    max-height: 100vh;
    padding: 0;
}
.componentlist[b-au457x0te8] {
    height: 90vh;
    overflow: auto;
}
.accordion[b-au457x0te8] {

    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

    .accordion input[b-au457x0te8] {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

.accordion__item[b-au457x0te8] {
    width: 100%;
    color: white;
    overflow: hidden;
}

.accordion__item-label[b-au457x0te8] {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--category-bg-color);
    color: var(--category-color);
    font-weight: bold;
    cursor: pointer;
    /* Icon */
}

    .accordion__item-label:hover[b-au457x0te8] {
        background-color: var(--category-active-bg-color);
    }

    .accordion__item-label[b-au457x0te8]::after {
        content: "â¯";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all 0.35s;
    }

.accordion__item-content[b-au457x0te8] {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: white;
    transition: all 0.35s;
}

.accordion__item-close[b-au457x0te8] {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background-color: var(--category-active-bg-color);
    cursor: pointer;
}

    .accordion__item-close:hover[b-au457x0te8] {
        background-color: var(--category-active-bg-color);
    }
/* /Components/DraggableComponent.razor.rz.scp.css */
.draggable-component[b-yjjz1t2vei] {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: var(--instruction-bg-color);
    margin: 0 0 5px 0;
    padding: 5px 5px 5px 2px;
    border-style: none none solid;
    color: var(--instruction-color);
    border-color: var(--instruction-border-color);
}

    .draggable-component:hover[b-yjjz1t2vei] {
        -moz-box-shadow: #830f94 0 1px 3px;
        -webkit-box-shadow: #830f94 0 1px 3px;
        box-shadow: #830f94 0 1px 3px;
    }

.drag-handle[b-yjjz1t2vei] {
    display: inline-block;
    cursor: move;
    vertical-align: middle;
    margin-right: 4px;
}

.instruction-card[b-yjjz1t2vei] {
    flex: 1;
    display: block;
}

.instruction-card__header[b-yjjz1t2vei] {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
}

.instruction-card__content[b-yjjz1t2vei] {
    display: none;
    transition: display .125s ease-in-out;
}

.lbl-toggle[b-yjjz1t2vei] {
    cursor: pointer;
}

    .lbl-toggle:hover[b-yjjz1t2vei] {
        text-decoration: underline;
    }

.instruction-card > input[type=checkbox][b-yjjz1t2vei] {
    display: none;
}

.toggle:checked ~ .instruction-card__content[b-yjjz1t2vei] {
    display: block;
}


.instruction-card__footer[b-yjjz1t2vei] {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid rgba(0, 0, 0.3);
}
/* /Components/ImageBuildStage.razor.rz.scp.css */
.image-container-build-stage[b-tuq4kv6635] {
    background-color: var(--category-bg-color);
    border: 1px solid var(--component-color);
    border-radius: 4px;
    padding: 4px;
    margin: 0 0 10px 8px;
}

    .image-container-build-stage .title[b-tuq4kv6635] {
        color: var(--component-color);
        font-size: 14px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
    }


.build-stage__title[b-tuq4kv6635] {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    width: 100%;
}
    .build-stage__title input[type=checkbox][b-tuq4kv6635] {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .build-stage__title .label[b-tuq4kv6635] {
        text-transform: uppercase;
        font-weight: 100;
        font-size: 1.2rem;
        margin-right: auto;
    }

    .build-stage__title .stage-name[b-tuq4kv6635] {
        margin: 0,0, 5px,0;
        align-self: center;
    }

    .build-stage__title .name[b-tuq4kv6635] {
        font-weight: 600;
        font-size: 1.2rem;
    }

    .build-stage__title .button[b-tuq4kv6635] {
        font-size: 1.2rem;
        padding: 4px;
    }

    .build-stage__title input[b-tuq4kv6635] {
       border-radius: 4px;
    }
/* /Components/InstructionElement.razor.rz.scp.css */
/* /Components/InstructionList.razor.rz.scp.css */
.instruction-list[b-d452cid6h8] {
    display: contents;
    position: absolute;
    margin: 0px;
    padding: 0;
    width: 40%;
}

.drag-dragover__spacing[b-d452cid6h8] {
    padding: 25px;
}

.drag-spacing[b-d452cid6h8] {
    height: 20px;
    transition: padding .125s ease-in-out;
    border-radius: 4px;
    border: 1px dashed var(--category-color);
}

.drag-dragover[b-d452cid6h8] {
    background: repeating-linear-gradient( 45deg, var(--category-active-bg-color), var(--category-active-bg-color) 10px, var(--category-bg-color) 10px, var(--category-bg-color) 20px );
    opacity: 0.6;
    animation: blinker-b-d452cid6h8 1s linear infinite;
}

.blink-me[b-d452cid6h8] {
    animation: blinker-b-d452cid6h8 1s linear infinite;
}

@keyframes blinker-b-d452cid6h8 {
    50% {
        opacity: 0.4;
    }
}

/* /Components/Preview.razor.rz.scp.css */
[b-qwzstvmk20] .monaco-editor-container {
    height: calc(100vh - 100px);
}

.preview[b-qwzstvmk20] {
    padding: 4px;
    transition: width 125ms;
    overflow: hidden;
}

.toolbar[b-qwzstvmk20]{
    display: flex;
    justify-content: space-between;
}

.open[b-qwzstvmk20]{
    width: 35vw;
}

.closed[b-qwzstvmk20]{
    width: 30px;
}

.editor .open[b-qwzstvmk20]{
    display: block;
}

.editor .closed[b-qwzstvmk20]{
    display: none;
}

.panel-button[b-qwzstvmk20]{
    text-decoration: none;
    user-select: none;
}

.panel[b-qwzstvmk20]{
    display: flex;
    margin-top: 10px;
}

.preview-label[b-qwzstvmk20]{
    margin-right: 10px;
    width: 1.5rem;
    padding-top: 10px;
    background-color: var(--category-bg-color);
    user-select: none;
    font-size: 1.2rem;
    font-weight: 400;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
}
/* /Shared/Header.razor.rz.scp.css */
.header[b-0wctl64whp] {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--category-bg-color);
    margin: 0 0 4px 0;
    position: relative;
    border-bottom: 1px solid;
}
