.add-build-stage--btn{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
.build-stage-overview {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    height: 40px;
}

.wizard {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.wizard__step {
    flex: 1;
}

.wizard__dot {
    align-items: center;
    display: flex;
    justify-content: center;
}

.wizard__connector {
    flex: 1;
    height: 1px;
    background-color: var(--highlight-color);
}

/*.wizard__step:first-child .wizard__connector, .wizard__step:last-child .wizard__connector {
    background-color: transparent;
}*/

.wizard__number {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--mdc-theme-surface);
    border-radius: 9999px;
    border: 1px solid var(--mdc-theme-secondary);
    height: 32px;
    width: 32px;
    margin-right: 4px;
    margin-left: 4px;
    color: var(--mdc-theme-secondary);
}

    .wizard__number:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        color: var(--mdc-theme-primary);
    }

.wizard__step-title {
    text-align: center;
    color: var(--highlight-color-active);
}
