/* Accordion styles */
.accordion {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

    .accordion input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

.accordion__item {
    width: 100%;
    color: white;
    overflow: hidden;
}

.accordion__item-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--category-bg-color);
    color: var(--category-color);
    font-weight: bold;
    cursor: pointer;
    /* Icon */
}

    .accordion__item-label:hover {
        background-color: var(--category-active-bg-color);
    }

    .accordion__item-label::after {
        content: "❯";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all 0.35s;
    }

.accordion__item-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: white;
    transition: all 0.35s;
}

.accordion__item-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background-color: var(--category-active-bg-color);
    cursor: pointer;
}

    .accordion__item-close:hover {
        background-color: var(--category-active-bg-color);
    }
