@using DockerGen.Container
<div class="image-container-build-stage">
	<div class="title">
		@if (ContainerEditor.Container.IsMultiStage())
		{
			<div class="input-group input-group-sm mb-3">
				<span class="input-group-text">Build stage</span>
				<input type="text" class="form-control" @bind="Stage.StageName">
			</div>
		}
		else
		{
			<div>
				Build stage
			</div>
		}
		<button type="button" class="btn-close" aria-label="Close" @onclick="RemoveStage"></button>
	</div>
	@if (Stage.BaseImage == null)
	{
		<pre>TODO: implement adding build args and setting FROM image</pre>
	}
	else
	{
		<FromImage Instruction="@Stage.BaseImage"></FromImage>
	}
	@if(Stage.Instructions.Count == 0)
	{
		<div class="dropzone-active"></div>
	}
	<InstructionList Stage="Stage"></InstructionList>

</div>

@code {
	[CascadingParameter]
	public Pages.Index ContainerEditor { get; set; }
	[Parameter]
	public BuildStage Stage { get; set; }

	private void RemoveStage()
	{
		ContainerEditor.Container.RemoveStage(Stage);
	}

}