@using DockerGen.Container
<div class="image-container" ondragover="event.preventDefault();">
    <CascadingValue Value="this">
        @foreach (var stage in ContainerEditor.Container.Stages)
        {
            <ImageBuildStage Stage="stage"></ImageBuildStage>
        }
    </CascadingValue>
    <div class="d-grid gap-2">
        <a class="btn btn-outline-success btn-sm" @onclick="AddStage" href="#">
            <i class="fa fa-plus"></i>
            Add build stage
        </a>
    </div>

</div>

@code {
    [CascadingParameter]
    public Pages.Index ContainerEditor { get; set; }

    private void AddStage()
    {
        var stageCount = ContainerEditor.Container.Stages.Count();
        var stage = new BuildStage();
        stage.StageName = "stage" + stageCount;
        ContainerEditor.Container.AddStage(stage);
    }
}