@using DockerGen.Container
@using DockerGen.Features.Container.Store
@inherits FluxorComponent
@inject IState<ContainerState> State
<div class="stages">
    <CascadingValue Value="this">
        @foreach (var stage in State.Value.Container.Stages)
        {
            <ImageBuildStage Stage="stage"></ImageBuildStage>
        }
    </CascadingValue>
</div>