@using DockerGen.Container
<div class="image-container" ondragover="event.preventDefault();">
    <button @onclick="AddStage">Add build stage</button>
    <CascadingValue Value="this">
        @foreach(var stage in ContainerEditor.Container.Stages)
        {
            <ImageBuildStage Stage="stage"></ImageBuildStage>
        }
    </CascadingValue>

</div>

@code {
    [CascadingParameter]
    public Pages.Index ContainerEditor{ get; set; }

    private void AddStage()
    {
        ContainerEditor.Container.AddStage(new BuildStage());
    }
}