@using DockerGen.Container
<div class="image-container-build-stage">
    <div class="title">
        Image build stage
        <button type="button" class="btn-close" aria-label="Close" @onclick="RemoveStage"></button>
    </div>
    <FromImage Instruction="@Stage.BaseImage"></FromImage>
    <div class="dropzone @dropClass" @ondrop="@(() => OnDrop())" @ondragenter="HandleDragEnter" @ondragleave="HandleDragLeave">
        <CascadingValue Value="this">
            <InstructionList Instructions="Stage.Instructions"></InstructionList>
        </CascadingValue>
    </div>

</div>

@code {
    [CascadingParameter]
    public Pages.Index ContainerEditor { get; set; }
    [Parameter]
    public BuildStage Stage { get; set; }
    private string dropClass = "";

    private void RemoveStage()
    {
        ContainerEditor.Container.RemoveStage(Stage);
    }

    private void OnDrop()
    {
        var instruction = ContainerEditor.CurrentInstruction;
        var index = GetIndex(instruction);
        if (CanDrop(instruction) && index == -1)
        {
            Stage.AddInstruction(instruction);
            StateHasChanged();
        }
        else if (index != -1)
        {
        }
        dropClass = "";
    }

    private bool CanDrop(Instruction instruction)
    {
        if (instruction is FromInstruction)
        {
            return false;
        }
        return true;
    }

    private void HandleDragEnter()
    {
        if (CanDrop(ContainerEditor.CurrentInstruction))
        {
            dropClass = "can-drop";
        }
        else
        {
            dropClass = "no-drop";
        }
    }

    private void HandleDragLeave()
    {
        dropClass = "";
    }


    private int GetIndex(Instruction instruction)
    {
        return Stage.Instructions.FindIndex(i => i.Id == instruction.Id);
    }

}