.image-container-build-stage {
    background-color: var(--primary-bg-color);
    border: 1px solid var(--component-color);
    border-radius: 4px;
    padding: 4px;
    margin: 0 0 10px 8px;
}

    .image-container-build-stage .title {
        color: var(--component-color);
        font-size: 14px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
    }


.build-stage__title {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 0 0 4px 0;
    width: 100%;
}

    .build-stage__title input[type=checkbox] {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .build-stage__title .stage-name {
        margin: 0,0, 5px,0;
        align-self: center;
    }

    .build-stage__title .baseimage {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-bg-color-active);
        border-radius: 999px;
        padding: 4px 8px;
    }

    .build-stage__title .name {
        text-transform: uppercase;
        font-weight: 100;
        font-size: 1.2rem;
    }

    .build-stage__title .button {
        font-size: 1.2rem;
        padding: 4px;
    }

    .build-stage__title input {
        border-radius: 4px;
    }

    .build-stage__title .close {
        
    }

    .build-stage__title .baseimage.image {
        text-transform: lowercase;
        font-weight: 400;
        font-family: var(--primary-font-family);
    }

    .build-stage__title .baseimage.tag {
        text-transform: lowercase;
        font-weight: 100;
        font-family: Consolas;
        background-color: var(--instruction-bg-color);
    }
