.build-stage__container {
    padding: 4px;
    margin: 4px;
}

    .build-stage__container:last-of-type {
        margin-bottom: 200px;
    }

.build-stage__title {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 0 0 4px 0;
    width: 100%;
}

    .build-stage__title input[type=checkbox] {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .build-stage__title .stage-name {
        margin: 0,0, 5px,0;
        align-self: center;
    }

    .build-stage__title .baseimage {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 4px 8px;
    }

    .build-stage__title .name {
        text-transform: uppercase;
        font-weight: 100;
        font-size: 1.2rem;
    }

    .build-stage__title .button {
        font-size: 1.2rem;
        padding: 4px;
        color: var(--highlight-color);
    }

        .build-stage__title .button:hover {
            color: var(--highlight-color-active);
        }

    .build-stage__title input {
        border-radius: 4px;
    }

    .build-stage__title .close {
        color: var(--secondary-color);
    }

    .build-stage__title .baseimage.image {
        text-transform: lowercase;
        font-weight: 400;
        font-family: var(--primary-font-family);
    }

    .build-stage__title .baseimage.tag {
        text-transform: lowercase;
        font-weight: 100;
        font-family: Consolas;
        border-radius: 1000px;
        padding: 2px 4px;
        font-size: 0.8rem;
        background-color: var(--mdc-theme-secondary);
        color: var(--mdc-theme-on-secondary);
    }
