.instruction-list {
    display: contents;
    position: absolute;
    margin: 0px;
    padding: 0;
    width: 40%;
}

.drag-dragover__spacing {
    padding: 25px;
}

.drag-spacing {
    height: 20px;
    transition: padding .125s ease-in-out;
    border-radius: 4px;
    border: 1px dashed var(--category-color);
}

.drag-dragover {
    background: repeating-linear-gradient( 45deg, var(--primary-bg-color-active), var(--primary-bg-color-active) 10px, var(--primary-bg-color) 10px, var(--primary-bg-color) 20px );
    opacity: 0.6;
    animation: blinker 1s linear infinite;
}

.blink-me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.4;
    }
}

