@using DockerGen.Container
@using System.Linq.Expressions
@using DockerGen.Features.Container.Store
@inject IDispatcher Dispatcher
@inject IState<ContainerState> State
<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        @foreach (var parameter in Recipe.Parameters)
        {
            <div class="mat-layout-grid-cell">
                <MatTextField Label="@parameter" Value="@Recipe[parameter]" OnInput="@((e) => {
								Recipe[parameter] = e.Value.ToString();
								Dispatcher.Dispatch(new ContainerSetStateAction(State.Value));
								Dispatcher.Dispatch(new ContainerUpdatedAction());
							})"></MatTextField>
            </div>
        }
    </div>
</div>


@code {
    [Parameter]
    public DynamicRecipe Recipe { get; set; }


    private void RemoveInstruction()
    {
        Dispatcher.Dispatch(new ContainerRemoveInstructionAction(Recipe));
    }
}