@using DockerGen.Container
@using System.Linq.Expressions
@using DockerGen.Features.Container.Store
@inject IDispatcher Dispatcher
@inject IState<ContainerState> State
<div class="instruction-values">
    @foreach (var parameter in Recipe.Parameters)
    {
        <div class="input-group mb-3">
            <span class="input-group-text">@parameter</span>
            <input type="text" class="form-control" id="@parameter" value="@Recipe[parameter]" @onchange="@((e) => {
								Recipe[parameter] = e.Value.ToString();
								Dispatcher.Dispatch(new ContainerSetStateAction(State.Value));
								Dispatcher.Dispatch(new ContainerUpdatedAction());
							})" />
        </div>
    }
</div>

@code {
    [Parameter]
    public DynamicRecipe Recipe { get; set; }


    private void RemoveInstruction()
    {
        Dispatcher.Dispatch(new ContainerRemoveInstructionAction(Recipe));
    }
}