@using DockerGen.Container

<li class="recipe" draggable="true" @ondragstart="@(() => OnDrag(Recipe))" @key="Recipe.Id">
    <div class="instruction-title image-item">
        @Recipe.DisplayName
        <button type="button" class="btn-close" aria-label="Close" @onclick="RemoveInstruction"></button>
    </div>

</li>

@code {
    [CascadingParameter]
    public Pages.Index ContainerEditor { get; set; }
    [Parameter]
    public DynamicRecipe Recipe { get; set; }
    [Parameter]
    public Action<DynamicRecipe> OnDrag { get; set; }
    [Parameter]
    public Action<DynamicRecipe> OnDrop { get; set; }

    private void RemoveInstruction()
    {
        ContainerEditor.Container.RemoveInstruction(Recipe);
    }
}