@using DockerGen.Container
@using DockerGen.Features.Container.Store
@inherits FluxorComponent
@inject IDispatcher Dispatcher
@inject IState<ContainerState> State
<li class="@CssClass" @key="Instruction.Id">
    <div class="instruction-title image-item">
        @Title
    </div>

    @ChildContent
</li>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public IInstruction Instruction { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string CssClass { get; set; } = "instruction";

    private void RemoveInstruction()
    {
        Dispatcher.Dispatch(new ContainerRemoveInstructionAction(Instruction));
		Dispatcher.Dispatch(new ContainerUpdatedAction());
    }
}