@using DockerGen.Container
<li class="instruction" draggable="true">
    <div class="instruction-title">
        @Title
    </div>
    @ChildContent
</li>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public object Key { get; set; }
    [Parameter]
    public string Title { get; set; }
}