
.instruction {
    margin: 0 0 5px 0;
    padding: 14px;
    border-style: none none solid;
    background-color: var(--instruction-bg-color);
    color: var(--instruction-color);
    border-color: var(--instruction-border-color);
}

    .instruction label.floating-label {
        font-size: 0.75rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: calc(100% - 13px);
    }

.instruction-title {
    font-weight: bold;
}
