.dropzone {
}

.dropzone-active {
    border: 1px dashed rgba(0,0,0,0.3);
    border-radius: 4px;
    min-height: 20px;
}

.droparea {
    height: 20px;
    border: 1px dashed rgba(0,0,0,0.3);
    background-color: var(--category-active-bg-color);
}


    .droparea::after {
        display: flex;
        content: "drop instruction here";
        color: hsl(0 0% 40%);
        justify-content: center;
    }


.no-drop {
    border: 2px dashed red;
}

.can-drop {
    border: 2px dashed green;
}
