@using DockerGen.Container
<li class="@CssClass" draggable="true" @ondragstart="@(() => OnDrag(Instruction))" @key="Instruction.Id">
    <div class="instruction-title image-item">
        @Title
        <a href="#" aria-label="Close" @onclick="RemoveInstruction">
			<i class="fa fa-window-close" />
		</a>
    </div>

    @ChildContent
</li>

@code {
    [CascadingParameter]
    public Features.Container.Pages.Index ContainerEditor { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public IInstruction Instruction { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string CssClass { get; set; } = "instruction";
    [Parameter]
    public Action<IInstruction> OnDrag { get; set; }
    [Parameter]
    public Action<IInstruction> OnDrop { get; set; }

    private void RemoveInstruction()
    {
        ContainerEditor.Container.RemoveInstruction(Instruction);
    }
}