::deep .monaco-editor-container {
    height: calc(100vh - 100px);
}

.preview {
    padding: 4px;
    transition: width 125ms;
    overflow: hidden;
}

.toolbar{
    display: flex;
    justify-content: space-between;
}

.open{
    width: 35vw;
}

.closed{
    width: 30px;
}

.editor .open{
    display: block;
}

.editor .closed{
    display: none;
}

.panel-button{
    text-decoration: none;
    user-select: none;
}

.panel{
    display: flex;
    margin-top: 10px;
}

.preview-label{
    margin-right: 10px;
    width: 1.5rem;
    padding-top: 10px;
    background-color: var(--primary-bg-color);
    color: var(--highlight-color);
    user-select: none;
    font-size: 1.2rem;
    font-weight: 400;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
}