@using BlazorMonaco
<div class="preview @toggleClass">
    <div class="toolbar">
        <a href="#" class="panel-button" @onclick="Toggle">
            <i class="fa fa-bars" />
        </a>
    </div>
    <div class="panel">
        <div class="preview-label">
            dockerfile
        </div>
        <div class="editor @toggleClass">
            <MonacoEditor @ref="_editor" ConstructionOptions=EditorConstructionOptions OnKeyUp="UpdateContainer" />
        </div>
    </div>
</div>

@code {
    private bool isOpen = true;
    private string toggleClass = "open";
    private void Toggle()
    {
        isOpen = !isOpen;
        if (isOpen)
        {
            toggleClass = "open";
        }
        else
        {
            toggleClass = "closed";
        }
        StateHasChanged();
    }
}
