@using DockerGen.Container
@using DockerGen.Container.Recipes

<li class="component recipe">
    <div class="instruction-title image-item">
        @Recipe.Name
    </div>
    <div class="description">
        @Recipe.Description
    </div>

</li>

@code {
    [Parameter]
    public Recipe Recipe { get; set; }
}