@page "/"
@using DockerGen.Container

<main>
    <div class="instruction-toolbox">
    </div>
    <div class="instruction-help">
    </div>
    <div class="container-instructions">
        <InstructionList @ref="_instructions" Instructions="_imageInstructions"></InstructionList>
    </div>
    <div class="dockerfile">
        <Preview Instructions="_instructions"></Preview>
    </div>
</main>