@page "/"
@using DockerGen.Container
<CascadingValue Value="this">
    <main @ondragstart="@(e => IsDragging = true)" @ondragend="@(e => IsDragging = false)">
        <div class="instruction-toolbox">
            <ComponentList></ComponentList>
        </div>
        <div class="container-stages">
            <BuildStageOverview></BuildStageOverview>
            <div class="container-instructions">
                <ImageContainer></ImageContainer>
            </div>
        </div>
        <div class="dockerfile">
            <Preview></Preview>
        </div>
    </main>
</CascadingValue>