@page "/"

<main>
    <div class="instruction-toolbox">
    </div>
    <div class="instruction-help">
    </div>
    <div class="container-instructions">
        <ul class="instruction-list">
            <FromImage></FromImage>
        </ul>
    </div>
    <div class="dockerfile">
        <div contenteditable></div>
    </div>
</main>