@page "/"
@using DockerGen.Container
<CascadingValue Value="this">
<main>
    <div class="instruction-toolbox">
        <ComponentList></ComponentList>
    </div>
    <div class="instruction-help">
    </div>
    <div class="container-instructions">
        <header class="title">
            Container instructions
        </header>
        <ImageContainer></ImageContainer>
    </div>
    <div class="dockerfile">
        <Preview ></Preview>
    </div>
</main>
</CascadingValue>