@page "/"

<div class="grid grid-cols-3 gap-2 h-full">
    <div class="bg-gray-300">

    </div>
    <div class="border-dashed border-4">

    </div>
    <div class="bg-gray-300">
        <div class="box border rounded flex flex-col shadow bg-white">
            <div class="box__title bg-grey-lighter px-3 py-2 border-b">
                <h3 class="text-sm text-grey-darker font-medium">Dockerfile</h3>
            </div>
            <textarea placeholder="hey" class="text-grey-darkest flex-1 p-2 m-1 bg-transparent"
                name="tt">Try adding components to the left and watch your Dockerfile come to life</textarea>
        </div>
    </div>
</div>