@page "/{quicklink?}"
@inherits FluxorComponent
@using DockerGen.Container
@using DockerGen.Features.Container.Store
@inject IDispatcher Dispatcher
<CascadingValue Value="this">
	<div class="container-editor" @ondragstart="@(e => Dispatcher.Dispatch(new DragAction(true)))" @ondragend="@(e => Dispatcher.Dispatch(new DragAction(false)))">
		<div class="instruction-toolbox">
			<ComponentList></ComponentList>
		</div>
		<div class="container-stages">
			<BuildStageOverview></BuildStageOverview>
			<div class="container-instructions">
				<ImageContainer></ImageContainer>
			</div>
		</div>
		<div class="dockerfile">
			<Preview></Preview>
		</div>
	</div>
</CascadingValue>

@code{
	[Parameter]
	public string QuickLink{get;set;}

	protected override void OnInitialized()
	{
		if(!string.IsNullOrEmpty(QuickLink)){
			Dispatcher.Dispatch(new ContainerLoadQuickLinkAction(QuickLink));
		}
	}
}