@page "/{quicklink?}"
@inherits FluxorComponent
@using DockerGen.Container
@using DockerGen.Features.Container.Store
@inject IDispatcher Dispatcher
<CascadingValue Value="this">
    <aside class="editorcontainer__left">
        <ComponentList></ComponentList>
    </aside>
    <article class="editorcontainer__middle">
        <BuildStageOverview></BuildStageOverview>
        <div class="editorcontainer__stages">
            <ImageContainer></ImageContainer>
        </div>
    </article>
    <div class="editorcontainer__right">
        <Preview></Preview>
    </div>
</CascadingValue>

@code {
    [Parameter]
    public string QuickLink { get; set; }
    public IInstruction CurrentInstruction { get; set; }
    private bool _isDragging;
    public bool IsDragging
    {
        get
        {
            return _isDragging;
        }
        set
        {
            _isDragging = value;
            StateHasChanged();
        }
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (!string.IsNullOrEmpty(QuickLink))
        {
            Dispatcher.Dispatch(new ContainerLoadQuickLinkAction(QuickLink));
        }
    }
}