@page "/{quicklink?}"
@inherits FluxorComponent
@using DockerGen.Container
@using DockerGen.Features.Container.Store
@inject IDispatcher Dispatcher
<CascadingValue Value="this">
    <div class="mat-layout-grid remove-padding">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                <ComponentList OnStartDrag="OnDragStart"></ComponentList>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <BuildStageOverview></BuildStageOverview>
                <div class="editorcontainer__stages">
                    <ImageContainer OnStartDrag="OnDragStart"></ImageContainer>
                </div>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                <Preview></Preview>
            </div>
        </div>

    </div>
</CascadingValue>

@code {
    [Parameter]
    public string QuickLink { get; set; }
    public IInstruction CurrentInstruction { get; set; }
    public bool IsDragging { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (!string.IsNullOrEmpty(QuickLink))
        {
            Dispatcher.Dispatch(new ContainerLoadQuickLinkAction(QuickLink));
        }
    }

    private void OnDragStart(IInstruction instruction)
    {
        if (instruction == null)
        {
            IsDragging = false;
            CurrentInstruction = null;
        }
        else
        {
            IsDragging = true;
            CurrentInstruction = instruction;
        }
        StateHasChanged();
    }
}