.header {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--category-bg-color);
    margin: 0 0 4px 0;
    position: relative;
    border-bottom: 1px solid;
}
