@inherits LayoutComponentBase
<div class="mainpage">
    <MatThemeProvider Theme="theme">
        <MatAppBarContainer>
            <Header></Header>
            <MatAppBarContent>
                @Body
            </MatAppBarContent>
        </MatAppBarContainer>
    </MatThemeProvider>
</div>
<StateLoader />
<MatToastContainer />

@code{ private MatTheme theme = new MatTheme()
    {
        Primary = "#ab47bc",
        Secondary = "#b388ff",
    };
}