@inherits LayoutComponentBase
<div class="mainpage">
    <Header></Header>
    <main class="editorcontainer__main">
        @Body
    </main>
    <footer>
        &copy;frodehus.dev
    </footer>
</div>
<StateLoader />
<BlazoredToasts />