@using DockerGen.Container

<InstructionElement Instruction="@Instruction" Title="@Instruction.DisplayName">
    <div class="mat-layer-grid">
        <div class="mat-layer-grid-inner">
            <div class="mat-layer-grid-cell mat-layer-grid-cell-span-6">
                <MatTextField Label="Local path/URL" FullWidth="true" @bind-Value="@Instruction.LocalOrRemoteSource"></MatTextField>
            </div>
            <div class="mat-layer-grid-cell mat-layer-grid-cell-span-6">
                <MatTextField Label="Destination" FullWidth="true" @bind-Value="@Instruction.Destination"></MatTextField>
            </div>
        </div>
    </div>
</InstructionElement>
@code {
    [Parameter]
    public AddFilesInstruction Instruction { get; set; }
}