@using DockerGen.Container

<InstructionElement Instruction="@Instruction" Title="@Instruction.DisplayName">
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell">
                <MatTextField @bind-Value="@Instruction.Argument" Label="Argument name" Required="true"></MatTextField>
            </div>
            <div class="mat-layout-grid-cell">
                <MatTextField @bind-Value="@Instruction.Value" Label="Argument default value"></MatTextField>
            </div>
        </div>
    </div>
</InstructionElement>

@code {
    [Parameter]
    public ArgumentInstruction Instruction { get; set; }
}