@using DockerGen.Container

<InstructionElement Instruction="@Instruction" Title="@Instruction.DisplayName">
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <MatTextField Label="Command" FullWidth="true" @bind-Value="@Instruction.Command"></MatTextField>
            </div>
        </div>
    </div>
</InstructionElement>

@code {
    [Parameter]
    public CommandInstruction Instruction { get; set; }
}