@using DockerGen.Container
@using DockerGen.Features.Container.Store
@inherits FluxorComponent
@inject IState<ContainerState> State
<InstructionElement Instruction="@Instruction" Title="@Instruction.DisplayName">
    @if (State.Value.Container.Stages?.Count > 1)
    {
        <div class="input-group mb-3">
            <span class="input-group-text">Stage</span>
            <InputSelect class="form-select form-select-sm" @bind-Value="Instruction.Stage">
                <option value="">current</option>
                @foreach (var stage in State.Value.Container.Stages)
                {
                    <option value="@stage.StageName">@stage.StageName</option>
                }
            </InputSelect>
        </div>
    }
    <div class="input-group mb-3">
        <InputText class="form-control" @bind-Value="Instruction.Source" placeholder="src/project/"></InputText>
        <span class="input-group-text fa fa-arrow-right"></span>
        <InputText class="form-control" @bind-Value="Instruction.Destination" placeholder="/app"></InputText>
    </div>
</InstructionElement>

@code {
    [Parameter]
    public CopyInstruction Instruction { get; set; }
}