@using DockerGen.Container

<InstructionElement Instruction="@Instruction" Title="@Instruction.DisplayName">
    @if (BuildStages?.Count() > 1)
    {
        <div class="input-group mb-3">
            <span class="input-group-text">Stage</span>
            <InputSelect class="form-select form-select-sm" @bind-Value="Instruction.Stage">
                <option value="">current</option>
                @foreach (var stage in BuildStages)
                {
                    <option value="@stage">@stage</option>
                }
            </InputSelect>
        </div>
    }
    <div class="input-group mb-3">
        <InputText class="form-control" @bind-Value="Instruction.Source" placeholder="src/project/"></InputText>
        <span class="input-group-text fa fa-arrow-right"></span>
        <InputText class="form-control" @bind-Value="Instruction.Destination" placeholder="/app"></InputText>
    </div>
</InstructionElement>

@code {
    [Parameter]
    public CopyInstruction Instruction { get; set; }
    [Parameter]
    public List<string> BuildStages { get; set; }
}