@using DockerGen.Container

<InstructionComponent Instruction="@Instruction" Title="@Instruction.DisplayName">
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="instr-@Instruction.Id" @bind="Instruction.Source" placeholder="src/project/">
        <span class="input-group-text fa fa-arrow-right"></span>
        <input type="text" class="form-control" id="instr-@Instruction.Id" @bind="Instruction.Destination" placeholder="/app">

    </div>
</InstructionComponent>

@code{
    [Parameter]
    public CopyInstruction Instruction{ get; set; }
}