@using DockerGen.Container

<InstructionElement Instruction="@Instruction" Title="@Instruction.DisplayName">
    <div class="mat-layer-grid">
        <div class="mat-layer-grid-innser">
            <div class="mat-layer-grid-cell mat-layer-grid-cell-span-12">
                <MatTextField Label="Command" FullWidth="true" @bind-Value="@Instruction.EntryPoint"></MatTextField>
            </div>
        </div>
    </div>
</InstructionElement>

@code {
    [Parameter]
    public EntryPointInstruction Instruction { get; set; }
}