@using DockerGen.Container

<InstructionElement Instruction="@Instruction" Title="@Instruction.DisplayName">
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <MatTextField Label="Environment variable name" FullWidth="true" @bind-Value="@Instruction.Variable" Required="true"></MatTextField>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <MatTextField Label="Default value" FullWidth="true" @bind-Value="@Instruction.DefaultValue"></MatTextField>
            </div>
        </div>
    </div>
</InstructionElement>

@code {
    [Parameter]
    public EnvironmentInstruction Instruction { get; set; }
}