@using DockerGen.Container

<InstructionElement Instruction="@Instruction" Title="@Instruction.DisplayName">
    <div class="input-group mb-3">
        <span class="input-group-text">Port</span>
        <InputNumber class="form-control" @bind-Value="Instruction.Port" placeholder="80"></InputNumber>
        <span class="input-group-text">Protocol</span>
        <InputSelect class="form-control" @bind-Value="Instruction.Protocol" placeholder="tcp">
            <option>tcp</option>
            <option>udp</option>
		</InputSelect>
    </div>
</InstructionElement>

@code {
    [Parameter]
    public ExposeInstruction Instruction { get; set; }
}