<li class="instruction">
    <div class="instruction-title">
        FROM
    </div>
    <div class="instruction-values">
        <div class="form-group input-group">
            <label for="instr-from" class="floating-label">Image</label>
            <input type="text" class="form-control" id="instr-from">
        </div>
    </div>
</li>