@using DockerGen.Container
<div class="instruction-values base-image">
    <div class="form-group">
        <label for="instr-@Instruction.Id">Image</label>
        <input type="text" id="instr-@Instruction.Id" @bind="Instruction.Image">
    </div>
    <div class="form-group">
        <label for="instr-tag-@Instruction.Id">Tag/Version</label>
        <input type="text" id="instr-tag-@Instruction.Id" @bind="Instruction.Tag">
    </div>
</div>
