@using DockerGen.Container

<li class="instruction" draggable="true">
    <div class="instruction-title">
        FROM
    </div>
    <div class="instruction-values">
        <div class="form-group">
            <label for="instr-from">Image</label>
            <input type="text" id="instr-from" @bind="Instruction.Image">
        </div>
        <div class="form-group">
            <label for="instr-from-tag">Tag/Version</label>
            <input type="text" id="instr-from-tag" @bind="Instruction.Tag">
        </div>
    </div>
</li>