@using DockerGen.Container
<div class="input-group mb-3">
    <span class="input-group-text">Image</span>
    <input type="text" id="instr-@Instruction.Id" class="form-control" @bind="Instruction.Image">
    <span class="input-group-text">Tag</span>
    <input type="text" id="instr-tag-@Instruction.Id" class="form-control" @bind="Instruction.Tag">
</div>
