@using DockerGen.Container
@using DockerGen.Features.Container.Store
@inherits FluxorComponent
@inject IDispatcher Dispatcher
@inject IState<ContainerState> State
<EditForm EditContext="_editContext">
    <DataAnnotationsValidator />
    <label for="baseImageName"><span>Image</span></label>
    <InputText name="baseImageName" placeholder="Image" @bind-Value="Instruction.Image"></InputText>
    <label for="baseImageTag"><span>Tag</span></label>
    <InputText name="baseImageTag" placeholder="Tag" @bind-Value="Instruction.Tag"></InputText>
    <ValidationSummary />
</EditForm>

@code {
    [Parameter]
    public FromInstruction Instruction { get; set; }
    private EditContext _editContext;

    protected override void OnInitialized()
    {
        _editContext = new EditContext(Instruction);
        _editContext.OnFieldChanged += UpdateInstruction;
        base.OnInitialized();
    }
    private void UpdateInstruction(object sender, FieldChangedEventArgs e)
    {
        Dispatcher.Dispatch(new ContainerSetStateAction(State.Value));
        Dispatcher.Dispatch(new ContainerUpdatedAction());
    }
}