@using DockerGen.Container

<InstructionElement Instruction="@Instruction" Title="@Instruction.DisplayName">
	<div class="input-group mb-3">
		<span class="input-group-text">Command</span>
		<InputTextArea class="form-control" @bind-Value="Instruction.ShellCommand" rows=3 ></InputTextArea>
	</div>
</InstructionElement>
@code {
	[Parameter]
	public RunInstruction Instruction { get; set; }
}