@using DockerGen.Container

<InstructionElement Instruction="@Instruction" Title="@Instruction.DisplayName">
	    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <MatTextField FullWidth="true" Label="Command(s)" TextArea="true" @bind-Value="@Instruction.ShellCommand" Required="true"></MatTextField>
            </div>            
        </div>
    </div>
</InstructionElement>
@code {
	[Parameter]
	public RunInstruction Instruction { get; set; }
}