@using DockerGen.Container

<InstructionComponent Key="@Instruction" Title="RUN">
    <div class="instruction-values">
        <div class="form-group full-width">
            <label for="instr-@Instruction.Id">Command</label>
            <input type="text" id="instr-@Instruction.Id" @bind="Instruction.ShellCommand">
        </div>
    </div>
</InstructionComponent>