@using DockerGen.Container

<InstructionElement Instruction="@Instruction" Title="@Instruction.DisplayName">
    <div class="input-group mb-3">
        <span class="input-group-text fa fa-user"></span>
        <InputText class="form-control" @bind-Value="Instruction.User"></InputText>
    </div>
</InstructionElement>

@code{
    [Parameter]
    public UserInstruction Instruction{ get; set; }
}