@using DockerGen.Container

<InstructionElement Instruction="@Instruction" Title="@Instruction.DisplayName">
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <MatTextField Label="Directory name (will be created if missing)" @bind-Value="@Instruction.Directory" FullWidth="true" Required="true"></MatTextField>
            </div>
        </div>
    </div>
</InstructionElement>

@code{
    [Parameter]
    public WorkDirInstruction Instruction{ get; set; }
}