@using DockerGen.Container

<InstructionComponent Instruction="@Instruction" Title="@Instruction.DisplayName">
    <div class="input-group mb-3">
        <span class="input-group-text fa fa-folder"></span>
        <input type="text" class="form-control" id="instr-@Instruction.Id" @bind="Instruction.Directory">
    </div>
</InstructionComponent>

@code{
    [Parameter]
    public WorkDirInstruction Instruction{ get; set; }
}