@using DockerGen.Container

<InstructionElement Instruction="@Instruction" Title="@Instruction.DisplayName">
    <div class="input-group mb-3">
        <span class="input-group-text fa fa-folder"></span>
        <InputText class="form-control" @bind-Value="Instruction.Directory"></InputText>
    </div>
</InstructionElement>

@code{
    [Parameter]
    public WorkDirInstruction Instruction{ get; set; }
}