:root {
    --primary-font-size: 14px;
    --main-bg-color: #ffffff;
    --instruction-bg-color: #dff0d8;
    --instruction-color: #468847;
    --instruction-border-color: #d3e8c0;
    --instruction-value-bg-color: #fff;
    --instruction-value-color: #424242;
    --primary-font-family: 'Roboto';
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--primary-font-family);
}

main {
    font-size: var(--primary-font-size);
    display: grid;
    height: 100vh;
    background-color: var(--main-bg-color);
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 250px 1fr 1fr;
    grid-template-areas:
        "toolbox instructions output"
        "help instructions output"
}

div {
}

.title {
    font-size: 18px;
    color: var(--instruction-color);
    font-weight: bold;
}


.container-instructions {
    grid-area: instructions;
}

.instruction-list {
    user-select: none;
    position: absolute;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.instruction {
    padding: 14px;
    cursor: grab;
    width: 100%;
    list-style-type: none;
    border-style: none none solid;
    background-color: var(--instruction-bg-color);
    color: var(--instruction-color);
    border-color: var(--instruction-border-color);
}

    .instruction label.floating-label {
        font-size: 0.75rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: calc(100% - 13px);
    }

.instruction-title {
    font-weight: bold;
}

.instruction-values {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 14px;
}

.form-group {
    border: solid 1px var(--instruction-border-color);
    padding: 0 8px;
    position: relative;
}

    .form-group input {
        border: none;
        outline: 0;
        padding: 18px 0 10px;
    }

label {
    position: absolute;
    transform: translate(0, 2px) scale(1);
}

.dockerfile {
    grid-area: output;
}

    .dockerfile code {
        display: block;
        white-space: pre-wrap;
        background: #ffeff0;
        word-wrap: break-word;
        box-decoration-break: clone;
        padding: .1rem .3rem .2rem;
        border-radius: .2rem;
    }

.instruction-help {
    grid-area: help;
}

.instruction-toolbox {
    grid-area: toolbox;
}
